*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-style: normal;
    display:block;
    background-color: hsl(332, 61%, 89%);
}

main{
    margin: 100px 200px 100px 200px;
    padding: 40px;
    background-color:white;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

section h1{
    font-family: "Young Serif", serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 20px;
    color: hsl(14,45%,36%);
}

.prep h2{
    color: hsl(332,51%,32%);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

img{
    width: 100%;
    border-radius: 10px;
}

.intro h1{
    font-size: 3em;
    font-weight: 200;
    color: black;
}

main section{
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section li{
    margin-bottom: 20px;
    padding-left: 20px;
}

section > ul,ol{
    padding-left: 30px;
}

.prep {
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 10px;
}

.instructions,.ingredients {
   border-bottom-width: 2px;
   border-bottom-style: solid;
   border-color:lightgrey;
}

li::marker{
    color: hsl(14,45%,36%);
    font-weight: 800;
}

article > div {
    margin-top: 20px;
    display:flex;
    padding-top: 10px;
}

article > .line{
    border-top-width: 2px;
    border-top-style: solid;
    border-color: lightgray;
}

div > .one{
    width: 50%;
    padding-left: 30px;
    align-self: flex-start;
}

div> .two{
   width:50%;
   align-self: flex-start;
   color: hsl(14,45%,36%);
   font-weight: 800;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:700px){
    main{
    margin:0px;
    padding:0px;
    border-radius:0px;
    }
    .intro,.prep,.ingredients,.instructions,.nutrition{
        padding:40px;
    }

    .image{
        padding:0px;
        margin:0px;
    }

    img{
    width: 100%;
    border-radius: 0px;
    }
}
